.themed-grid-col {
  padding-top: 15;
  padding-bottom: 15;
  background-color: rgba(39, 34, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2); }

.themed-container {
  padding: 15px;
  margin-bottom: 30px;
  background-color: rgba(155, 38, 73, 0.15);
  border: 1px solid rgba(0, 123, 255, 0.2); }

.row {
  padding: 10px; }

.jumbotron {
  /*Este margin es porque el nav bar nos "roba" espacio
    
    */
  margin-top: 20px;
  /*background-color: lightgray;*/
  color: black;
  font-weight: 700;
  background-image: url("/Imagenes/reteas.png"); }

footer {
  margin-top: 10px;
  background-color: #1b1f24; }

.btn-leermas {
  border-radius: 0px;
  width: 95%; }

.colorNav {
  background-color: #c0adc0; }

.footer-address-icon {
  padding-right: 10px; }

.flecha-leer-mas {
  padding-right: 5px;
  color: lightgray; }

.card-hotel {
  margin-top: 10px;
  flex: 1 200px; }

ol.carousel-indicators > li {
  height: 5px;
  background-color: #f01ae5; }

.tab-content {
  padding-top: 5;
  padding-bottom: 0; }
