$pink: rgb(240, 26, 229);
$amarillo: yellow;
$verde: green;
$rojo: red;
$lightsteelblue:rgb(27, 31, 36);
$someblue:rgba(39, 34, 124, 0.15);
$someblue2:rgba(86, 61, 124, .2);
$negro: black;
$fondoContenedor:rgba(155, 38, 73, 0.15);

@mixin padding ($top,$bot){
    padding-top: $top;
    padding-bottom: $bot;
}

.themed-grid-col {
    @include padding(15,15);
    background-color: $someblue;
    border: 1px solid $someblue2;
  }
  
  .themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: $fondoContenedor;
    border: 1px solid rgba(0, 123, 255, .2);
  }
  
  .row {
    padding: 10px;
  }
  
  .jumbotron {
    /*Este margin es porque el nav bar nos "roba" espacio
    
    */
    margin-top: 20px;
    /*background-color: lightgray;*/
    color: $negro;
    font-weight: 700;
    background-image: url("/Imagenes/reteas.png");
  }
  
  footer {
    margin-top: 10px;
    background-color:  $lightsteelblue;
  }
  
  .btn-leermas {
    border-radius: 0px;
    width: 95%;
  }
  
  .colorNav {
    background-color: rgb(192, 173, 192);
  }
  
  .footer-address-icon {
    padding-right: 10px;
  }
  
  .flecha-leer-mas {
    padding-right: 5px;
    color: lightgray;
  }
  
  .card-hotel {
    margin-top: 10px;
    flex: 1 200px;
  }
  ol.carousel-indicators > li {
  
    height: 5px;
    background-color: $pink;
  }
  .tab-content {
    @include padding(5,0);
  }
  
  